@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 160%;
}


h3{
  margin: 10px;
  margin-left: 20px;
}

ul {
  list-style: none;
  float: right;
}
ul > li {
  float: left;
  margin: 0px 5px;
}

p{
  margin: 3px;
}

.headerr{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: bisque;
  color: gray;
  text-align: center;
  position: sticky;
  top: 0;
}

nav{
  text-align: right;
  background-color:blanchedalmond;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.section1{
  overflow: auto;
  padding: 10px;
  width: 100%;
  height: 350px;
  background-color: beige;
  color: black;
}

.section2{
  overflow: auto;
  padding: 10px;
  width: 100%;
  height: 500px;
  background-color: beige;
  color: black;
}

footer{
  background-color: bisque;
  color: gray;
  text-align: center;
}

hr{
  margin: 5px;
}

img{
  margin: 10px;; 
}

#article1{
  margin-top: 60px;
  font-weight: bold;
}

#article2{
  margin-top: 20px;
  font-weight: bold;
}