@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 160%;
}


h3{
  margin: 10px;
  margin-left: 20px;
  text-shadow: 2px 2px gray ;
}

ul {
  list-style: none;
  float: right;
  border: 1px solid white;
  padding: 30px;
  padding-top:5px;
  padding-bottom: 5px;
}
ul > li {
  float: left;
  margin: 0px 5px;
}

li{
  display: inline-block;
  margin:10px;
}

li a {
  padding: 5px 20px;
  font-size: 14px;
  color: brown;
  text-decoration: none;
}

p{
  margin: 3px;
}

.headerr{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: bisque;
  color: gray;
  text-align: center;
  position: sticky;
  top: 0;
  text-shadow: 2px 2px gray ;
}

nav{
  text-align: right;
  background-color:blanchedalmond;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.section1{
  overflow: auto;
  padding: 10px;
  width: 100%;
  height: 350px;
  background-color: beige;
  background: linear-gradient(to right bottom, beige, white);
  color: black;
}

.section2{
  overflow: auto;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: beige;
  background: linear-gradient(to right top, beige, white);
  color: black;
}

footer{
  background-color: bisque;
  color: gray;
  text-align: center;
  width: 100%;
  height: 100px;
}

hr{
  margin: 5px;
}

img{
  margin: 10px;; 
  border-radius: 25px;
}


#article1{
  margin-top: 60px;
  font-weight: bold;
}

#article2{
  margin-top: 20px;
  font-weight: bold;
}

a[title |= insta]{
  padding: 5px 25px;
  background: url("images/photo4.jpeg") no-repeat left center;
  background-size: 20px;
}

a[title |= facebook]{
  background: url("images/photo5.png") no-repeat left center;
  background-size: 18px;
}

a[title |= blog]{
  background: url("images/photo6.png") no-repeat left center;
  background-size: 18px;
}

#photo1 img {
  transition-property: width, height;
  transition-duration: 1s,1s;
}

#photo1 > img:hover{
  width:250px;
  height: auto;
}

.section2 > img {
  display: inline-block;
}

.service{
  word-spacing: 30px;
  margin-left: auto;
  margin-right: auto;
}



ol > li{
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}

#question{
  float: left;
  width: 65%;
}